@model IEnumerable<Concert>
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="card-title">Concert Details</h3>
            </div>
            <div>
                <a class="btn btn-primary" asp-area="" asp-controller="Concerts" asp-action="CreateUpdate" asp-route-id="0"><i class="fa fa-plus" aria-hidden="true"> New Entry </i></a>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">DateTime</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Artist</th>
                    <th scope="col">ImageUrl</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.DateTime</td>
                        <td>@item.Venue.Name</td>
                        <td>@item.Artist.Name</td>
                        <td> <img src="@item.ImageUrl" class="rounded-circle" width="50" height="50" style="border:groove" /></td>
                        <td>
                            <a asp-action="CreateUpdate" asp-controller="Concerts" asp-route-Id="@item.Id" class="btn btn-info"><i class="fa fa-pancil" aria-hidden="true"> Edit</i></a>
                            <a asp-action="GetTickets" asp-controller="Concerts" asp-route-concertId="@item.Id" class="btn btn-primary"><i class="fa fa-pancil" aria-hidden="true"> Booking</i></a>
                            <a onClick=Remove("/Concerts/Delete/@item.Id") class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"> Delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        function Remove(url) {
            DeleteRecord(url)
        }
    </script>
    @*<script src="~/js/Masters/Concert.js"></script>*@
    <script src="~/js/common/Common.js"></script>
}
